.catalog-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 260px;
}

.catalog-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.catalog-list__item-data {
  border: 1px solid @basic-light-grey;
  width: 260px;
  padding: 25px 28px;
  box-sizing: border-box;
}

.catalog-list__item-title-link {
  text-decoration: none;
}

.catalog-list__item-title {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  color: @basic-black;
}

.catalog-list__item-description {
  font-size: 13px;
  line-height: 30px;
  color: @basic-grey;
  margin: 0;
}

.catalog-list__item-price {
  font-weight: 700;
  margin: 0;
}
