.color-filter {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto auto auto;
  }
}


.color-filter__item {
  position: relative;
  min-height: 38px;
  display: flex;
  align-items: center;
  padding-left: 60px;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    min-height: 52px;
    padding-left: 82px;
  }
}

.color-filter__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 2px @basic-grey solid;
  cursor: pointer;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 52px;
    height: 52px;
  }
}
