.contacts {
  padding-top: 38px;
  padding-bottom: 39px;
  font-size: 14px;
  line-height: 30px;
  color: @basic-grey;
}

.contacts__title {
  .title;
  padding: 0 30px;
  margin-bottom: 28px;
}

.contacts__list {
  margin: 0;
  padding: 0 30px 62px;

  & dd {
    margin: 0;
  }
}


.contacts__email-link {
  text-decoration: none;
  line-height: 30px;
  color: @basic-grey;
}

.contacts__map {
  padding: 0;
  margin-bottom: 38px;
}
