.form__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0;
  color: @basic-downy;
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.form__group {
  border: 0;
  padding: 0;
  margin: 0;
}

.form__remark {
  font-size: 14px;
  line-height: 16px;
  color: @basic-grey;
  margin: 0;
  margin-bottom: 30px;
}

.form__input {
  padding: 0;
}

.form__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.form__area {
  border: 2px solid @basic-grey;
  width: 100%;
  padding: 17px;
  min-height: 142px;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 17px;
}

.form__area::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.form__submit {
  font-size: 17px;
  line-height: 16px;
  width: 100%;
  padding: 18px 37px;
  background-color: @basic-white;
}
