.page-main {
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.page-main__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 500px;
    .title-big;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    .title-large;
  }
}

.page-main__title-wrapper {
  min-height: 226px;
  background-image: url("../../img/content/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 73px;
}

.page-main__title-inner {
  background-color: @basic-background-grey;
  padding: 73px 0;
}
