.page-main {
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    border-top: 1px solid @basic-light-grey;
  }
}

.page-main__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 500px;
    .title-big;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    .title-large;
  }
}

.page-main__title-wrapper {
  min-height: 226px;
  background-image: url("../../img/content/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 73px;

  @media (min-width: @desktop-width) {
    padding-top: 135px;
  }
}

.page-main__title-inner {
  background-color: @basic-background-grey;
  padding: 74px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 101px 0 75px;
    margin-top: -60px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    padding: 102px 0 96px;
    margin-top: -77px;
  }
}

.page-main__title-inner::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    display: block;
    width: 100%;
    height: 35px;
    background-image: url("../../img/icons/zigzag-line-big.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/icons/zigzag-line-large.svg");
    bottom: -18px;
  }
}
