.page-footer {
  background-color: @basic-background-grey;
}

.page-footer__wrapper {
  display: grid;
  grid-template-rows: 50% 50%;

  @media (min-width: @tablet-width) {
    min-height: 143px;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    grid-template-rows: auto;
  }
}


.page-footer__copyright {
  display: flex;
  margin: 0 auto;
  padding: 22px 0;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-right: 50px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    width: 102px;
    display: block;
    padding-left: 50px;
  }
}

.page-footer__icon {
  fill: @basic-black;

  &:hover {
    fill: @hover-downy;
  }

  &:active {
    opacity: 0.3;
  }
}
