.process-video {
  padding: 0 30px 25px;
}

.process-video__wrapper {
  margin: 0 auto;
  width: 260px;
  border: 1px solid @basic-light-grey;
  padding-top: 22px;
  padding-bottom: 33px;
}

.process-video__title {
  font-size: 17px;
  font-weight: 700;
  padding-left: 91px;
  margin: 0;
  margin-bottom: 26px;
}

.process-video__image {
  margin-bottom: 35px;
}

.process-video__description {
  font-size: 13px;
  color: @basic-grey;
  margin: 0;
  padding-left: 34px;
  margin-bottom: 41px;
}

.process-video__button {
  padding: 18px 11px;
  line-height: 16px;
  width: 192px;
  margin: 0 auto;
  box-sizing: border-box;
}
