.promo {
  padding: 31px 30px;
}

.promo__title {
  .title;
}

.promo__slogan {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: @basic-downy;
}

.promo__description {
  margin: 0;
  color: @basic-grey;
  margin-bottom: 28px;
}

.promo__features {
  margin-bottom: 28px;
}

.promo__features th,
td {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: @basic-grey;
  padding: 0;
  text-align: left;
}

.promo__price {
  font-size: 17px;
  font-weight: 700;
  color: @basic-grey;
  text-align: center;
}
