.size-table {
  color: @basic-grey;
}

.size-table__fieldset {
  border-style: none;
}

.size-table__legend {
  text-align: center;
  padding: 0;
}

.size-table__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
}

.size-table__button {
  background-color: @basic-downy;
  color: @basic-white;
  font-size: 17px;
  line-height: 16px;
  border: none;
}
