// цвета

@basic-black: #000000;
@basic-white: #ffffff;
@basic-grey: #444444;
@basic-grey-opacity: rgba(68, 68, 68, 0.3);
@basic-downy: #63D1BB;
@basic-downy-dark: #56C3B2;
@hover-downy-dark: #59D5BC;
@hover-downy: #46C1AE;
@hover-downy-opacity:rgba(70,193,174, 0.3);
@line_downy: #62D1BA;

@basic-background-grey: #F1F1F1;
@basic-light-grey: #ECECEC;
@background-color: #f8f8f8;
@basic-border: #e5e5e5;

// Viewports

@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
