// цвета

@basic-black: #000000;
@basic-white: #ffffff;
@basic-grey: #444444;
@basic-downy: #63D1BB;
@basic-downy-dark: #56C3B2;
@basic-background-grey: #F1F1F1;
@basic-light-grey: #ECECEC;

// Viewports

@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
